@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-home {
  @apply  bg-[url('/homepage/hero-bg-mobile@2x.jpg')] lg:bg-center md:bg-[url('/homepage/hero-bg-tablet@2x.jpg')] lg:bg-[url('/homepage/hero-bg-desktop@2x.jpg')];
}

.hero-booking {
  min-height: 84vh !important;
  background-image: url("/booking/hero-bg-desktop@2x.jpg");
}
.card:first-of-type section div:nth-child(2) {
  @apply lg:pt-[5rem] lg:mt-[4rem];
}

.heading::before {
  content: url("/patterns/pattern-divide.svg");
  width: 80px;
  position: absolute;
  top: -40px;
  left: 0;
}
.menuImg::after {
 
  @apply content-none md:content-[''] w-[3rem] h-[0.5px] absolute -right-[49px] top-[1rem] bg-[#9e7f66];
}
@media (max-width: 1000px) {
 

  .heading::before {
    left: 40%;
  }
}
.bgLeft::after {

  @apply content-none md:content-bg-left w-full absolute h-full md:-right-[457px] md:-bottom-[535px] lg:-left-[89px];
}

.bgRight::after {
  @apply content-none absolute md:content-bg-right w-full h-full md:-left-[270px] md:-bottom-[300px] lg:right-[50%];
}
