@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-home{
    background-image: url('/homepage/hero-bg-desktop@2x.jpg');
}



.hero-booking{
    min-height: 84vh !important;
    background-image: url('/booking/hero-bg-desktop@2x.jpg');
}
.card:first-of-type section div {
    padding-top:5rem;
    margin-top: 4rem;
}

.heading::before{
    content: url('/patterns/pattern-divide.svg');
    width: 80px;
    position: absolute;
    top: -40px;
    left:0;
}
